<html>
<head>
</head>
<body>
    {{> menuBar}}
<h1>{{message}}</h1>
{{#results}}
<h2>{{name}}</h2>
<p>{{description}}<p>
{{/results}}

<h5>Press the back button to keep browsing your search results, or press the button below to make a new one!</h5>
<a href = '/login/homePage'><button>New Search</button></a>
</body>
</html>