<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/favorites.css">
</head>
<body>
    {{> menuBar}}
    <br>
    <div id = 'favorites-container'>
    <h4 style="margin-left: 16px;">Your Favorite Parks and Places</h4>
    <h2>{{message}}</h2>
    <br>
    <br>
    <ul style="margin-left:16px;padding-left:0px;">
{{#parkList}}
        <li style="list-style-type:none;">
        <h5>{{fullName}}{{title}}</h5>
        <p>{{description}}</p>
        <p>{{listingdescription}}</p>
        {{#listingimage}}
        <img style = 'width:400px' src = {{listingimage.url}}>
        {{/listingimage}}
        <form action = '/delete-favorite' method = 'POST'>
            <input name = 'parkCode' value = '{{parkCode}}' type = 'hidden'>
            <input name = 'fullName' value = '{{fullName}}' type = 'hidden'>
            <input name = 'title' type = 'hidden' value = '{{title}}'>
            <button type = 'submit' formaction = '/delete-favorite' class= "btn btn-light">Delete Item</button>
        </form> 
        </li>
    {{/parkList}}
    </ul>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
