<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <form action="/login/homePage/logout">
    <button>Logout</button>
    </form>
<form action = '/state-details' method = 'POST'> 
<input placeholder = 'Enter City' name = 'city'>
<input placeholder = 'Enter State Code' name = 'state'>
<select name = 'locationType'>
  <option value="Parks">Parks</option>
  <option value="Places">Places</option>
</select>
<button type = 'submit'>Search </button>

<h1>{{message}}</h1>

<ul>
    {{#results}}
        <li><h1>{{name}}{{title}}</h1>
        <p>{{description}}</p>
        <p>{{weatherInfo}}</p>
        <p>{{listingdescription}}</p>
        {{#listingImage}}
        <img style = 'width:400px' src = {{listingImage}}>
        {{/listingImage}}
        <form action = '/add-favorite' method = 'POST'>
            <input type = 'hidden' name = 'userTEST' value = ''> 
            <input type = 'hidden' value = >
            <button formaction = '/add-favorite' type = 'submit'>Add selection to your favorites</button>
        </form>
        {{#parkInfo}}
        <form action = '/campground-info' method = 'POST'>
            <input type = 'hidden' name = 'parkCode' value = '{{parkCode}}'>
            <input type = 'hidden' name = 'parkName' value = '{{parkName}}'>
            <button formaction = '/campground-info' type = 'submit'>Click here to view available campgrounds!</button>
        </form>
        {{/parkInfo}}
        </li>
    {{/results}}
</ul>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>