<html>
<head><head>
<body>
<div>
<h1>Travel Bug</h1>
<form action="/login" method="POST">
<input type="text" value="{{username}}" name="memberU" placeholder="Enter username"/>
<input type="password" value="{{password}}" name="memberP" placeholder="Enter Password"/>
<button type="submit">Login</button>
</form>

<button><a href="/register">Register</a></button>

</div>

</body>
</html>