<html>
<head>
<link rel="stylesheet"  href="/css/login.css" />
<head>
<body>
<div>
<h1>Travel Bug</h1>



<div id="formStyling">

<form action="/login" method="POST">
<input type="text" name="memberU"  placeholder="Enter Username"/><br>
<input type="password" name="memberP"  placeholder="Enter Password"/><br>
<div id="errorMessageStyling">{{message}}</div>
<button id="loginbtnCSS"type="submit">Login</button>
</form>

<hr>

<div id="registerBtnPositioning">
<button><a id="linkStyling" href="/register">Register</a></button>
</div>
</div>


</div>

</body>
</html>