#parksStyling{
    list-style: none;
    padding-top: 15%;
}

body{
    background-color: black;
}

#contentStyling{
    color: #888e94;
}

h5{
  color:  #888e94;
}

#messageStyling{
    color: white;
}